{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <div class="row" style="padding-top: 200px;"> 
		<div class="col-sm-4 hidden-xs"></div>
		<div class="col-sm-4">
			{{ form_open('', {'class' : 'form-horizontal'}) }}

			<div class="form-group">
				<label for="login_correo" class="col-sm-2 control-label">{{ trans('correo') }}</label>
				<div class="col-sm-10">
					<input type="email" required="required" name="correo" class="form-control" placeholder="{{ trans('correo') }}">
					<span class="help-block">{{ flash_error|raw }}</span>
				</div>
			</div>

				<input class="btn btn-default buttom roman" type="submit" name="btn_continuar" value="{{ trans('continuar') }}">
			</form>
		</div> 
		<div class="col-sm-4 hidden-xs"></div>		
    </div>
</div>
{% endblock %}