{% extends 'base.twig' %}

{% block stylesheet %}
	{#<link href="web/assets/jquery-ui/jquery.ui.all.css-min.css" rel="stylesheet">#}
	<link href="web/css/jquery-bootstrap-datepicker.css" rel="stylesheet">
{% endblock %}

{% block keywords %}{{ trans('seo_keywords_alojamiento') }}{% endblock %}
{% block description %}{{ trans('seo_description_alojamiento') }}{% endblock %}

{% block content %}
<div class="container bg-form padding-bottom-20">
	<div id="center_area" style="padding-top: 200px;" class="content">
		<div class="form border_drk">
			{{ form_open(base_url('con_alojamiento/crear_reserva'), {'class' :'form_filter form form-vertical', 'id':'form_reserva_alojamiento', 'onSubmit': 'return validar()'}) }}

			<input type="hidden" name="id_hotel" value="{{ hotel.id }}"/>
			{% if hotel.confirmacion_online == 'f' %}
				<span class="black right"><b>{{ trans("reserva_a_confirmar") }}</span>
				<input type="hidden" name="aconfirmar" value="1"/>
			{% endif %}

			{% if key_car_reserva|default %}
				<input  type="hidden" name="key_car_reserva" value="{{ key_car_reserva }}"/>
			{% endif %}

			{% set pre_habitaciones_reserva = reserva.options.habitaciones %}
			{% set tota_habitaciones = pre_habitaciones_reserva|length %}

			<div class="row">
				<div class="col-sm-12">
						<h2>{{ trans('alojamiento') }}</h2>
				</div>
				<div class="col-sm-12 ">
					<ul class="columns-text-simple">
						{% for facilidad in facilidades %}
							<li>{{ facilidad.nombre_trad ?? facilidad.nombre}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<br class="clean" /><br/>

			<div class="row">
				<div class="col-sm-4">
					<label>{{ trans('al_fecha_entrada') }}</label><br/>
					<input id="fecha_principal" type="text" readonly name="fecha" class="selector_fecha input_cal form-control" style="cursor: pointer !important;" value="{{ pre_habitacion.fecha }}"/>
				</div>

				<div class="col-sm-4">
					<label>{{ trans('al_habitacion') }}</label><br/>
					<select id="tipo_hab_principal" name="tipo_habitacion" class="tipo_habitacion input_cal form-control">
						{% for h in hotel.habitaciones_reserva %}
							{% set nombre_habitacion = app_traduccion('hotel','hotel_tipo_hab_idioma','nombre','tipo_habitacion_fk',h.tipo_habitacion_fk,h.nombre_habitacion) %}
							{% if pre_habitacion.tipo_habitacion == h.tipo_habitacion_fk %}
								<option selected="selected" value="{{ h.tipo_habitacion_fk }}">{{ nombre_habitacion }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

				<div class="col-sm-4">
					<label>{{ trans('al_cantidad_habitaciones') }}</label><br/>
					<input autocomplete="off" value="{{ tota_habitaciones }}" type="text" id="cantidad_habitaciones" class="cantidad_habitaciones solo_numeros form-control"/>
				</div>
			</div>

			{% set numero_habitacion = 0 %}
			{% for pre_habitacion in pre_habitaciones_reserva %}

			<div class="formulario_alojamiento border_drk_1" style="position:relative;">

				<input type="hidden" class="precio_habitacion" name="precio_habitacion[]" value="{{ pre_habitacion.precio }}"/>

				<div class="row">
					<div class="col-sm-12 margin-bottom-10">
						<hr/>
						<div class="numero_habitacion text-price-box">{% set numero_habitacion = numero_habitacion + 1 %}
							{{ trans('al_habitacion') }} #{{ numero_habitacion }}
						</div>
					</div>

					<div class="col-sm-4">

						<label>{{ trans('al_hora_entrada') }}</label>
						<br/>
						{#{{ form_dropdown('hora[]', horas, hora_selected, {'class': 'form-control hora'})|raw }}#}
						<select name="hora[]" class="hora form-control">
							{% for k,hora in horas %}
								<option {{ hora == hora_selected ? 'selected="selected"' }}>{{ hora }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="col-sm-4">
						<label>{{ trans('al_plan_alojamiento') }}</label>
						<br/>
						<select name="plan[]" class="plan form-control">
							{% for p in hotel.plan_alojamiento %}
								{% set plan = app_traduccion('hotel','hotel_plan_idioma',null,'plan_fk',p.plan_fk,p) %}
								{% set nombre_plan = plan.nombre_plan|default ? plan.nombre_plan : plan.nombre %}
								{% set descrip_plan = ' ('~ plan.descripcion~ ')' %}

								<option {{ pre_habitacion.plan == p.plan_fk ? 'selected="selected"': null }} value="{{ p.plan_fk }}">{{ nombre_plan~descrip_plan }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="col-sm-4">
						<label>{{ trans('al_pax') }}</label>
						<br/>
						<select name="paxs[]" class="cantidad_paxs input_cal form-control">
							{% for n_pax in hotel.nuevos_paxs %}
								<option {{ pre_habitacion.paxs == n_pax.val ? 'selected="selected"' : null}} value="{{ n_pax.val }}">{{ n_pax.opc }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-4 margin-top-15">
						<label>{{ trans('al_noches') }}</label>
						<br/>
						<select name="noches[]" class="input_cal noches form-control">
							{% set minimo_noche = hotel.minimo_de_noches|default(1) %}
							{% for i in minimo_noche..cant_max_noches %}
							<option {{ pre_habitacion.noches == i ? 'selected="selected"': null }} value="{{ i }}">{{ i }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="col-sm-4 margin-top-15 hidden">
						<label>{{ trans('al_paquete_luna_miel') }}
							<a class="detalle_pql" style="color: #FFFFFF; display: none" href="javascript:">
								<i class="fa fa-search"></i> {{ trans('al_ver_detalles_paquete_luna_miel') }}
								{#<img class="detalle_pql" style="cursor:pointer;display:none" title="{{ trans('al_ver_detalles_paquete_luna_miel') }}" alt="{{ trans('al_ver_detalles_paquete_luna_miel') }}" src="web/img/detalle.png"/>#}

							</a>

						</label>
						<br/>
						<select name="paquete_luna_miel[]" class="paquete_luna_miel input_cal form-control">
							<option value="">{{ trans('seleccione') }}</option>
							{% for plm in hotel.paquetes_luna_miel %}
								{% set nombre_paquete = plm.nombre %}
								<option {{ pre_habitacion.paquete_luna_miel == plm.id ? 'selected="selected"': null }} value="{{ plm.id }}">{{ nombre_paquete }}</option>
							{% endfor %}
						</select>
					</div>

{#					{{ dump(pre_habitacion) }}#}

					{% set b2b = app.user.id_tipo_cliente ? true : false %}
					{% if b2b == true %}
						<div class="col-sm-4 margin-top-15">
							<label>{{ trans('responsable_hab_nombre') }}
							</label>
							<br/>
							<input required="required" name="responsable_nombre[]" autocomplete="off" value="{{ pre_habitacion.responsable_nombre|default('') }}" type="text" class="form-control"/>
						</div>

						<div class="col-sm-4 margin-top-15">
							<label>{{ trans('responsable_hab_pasaporte') }}
							</label>
							<br/>
							<input required="required" name="responsable_pasaporte[]" autocomplete="off" value="{{ pre_habitacion.responsable_pasaporte|default('') }}" type="text" class="form-control"/>
						</div>
					{% endif %}

					{% set acepta_ninno_adicional = app_info_hab(hotel.habitaciones_reserva,pre_habitacion.tipo_habitacion,'ninno_adicional') %}

					<div class="col-sm-4 capa_ninno_adicional hidden" {{ acepta_ninno_adicional == 'f' or acepta_ninno_adicional == null ? 'style="visibility:hidden' : null }}>
						<label>{{ trans('al_ninno_adicional') }}</label>
						<br/>
						<input {{ pre_habitacion.ninno_adicional != null ? 'checked' : null }} type="checkbox" name="ninno_adicional_{{ numero_habitacion-1 }}" class="ninno_adicional input_cal form-control"/>
					</div>
				</div>

				<div class="row padding-top-10">
					<div class="col-sm-12">
                        {#{{ dump(pre_habitacion) }}#}
						<label class="text-price-box text-black">{{ trans('precio') }}:
                            <s class="precio_original">{{ pre_habitacion.precio_original != pre_habitacion.precio ? pre_habitacion.precio_original }}</s>
							<span class="precio_habitacion_text text-price-box text-white">{{ app_rate_cambio(pre_habitacion.precio,'smb') }}</span>
						</label>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="row">
				<div class="col-sm-12">
					<hr/>
				</div>

				<div class="col-sm-12">
					<label>{{ trans('detalles_adicionales') }}</label><br/>
					<textarea name="detalles" rows="5" class="form-control">{{ reserva.options.detalles }}</textarea>
				</div>

				<br class="clean"/>
				{{ flash_error }}
				<br class="clean"/>
			</div>

			<div class="row padding-top-30">
				<div class="col-sm-12 precio_reserva">
					<p class="verdana text-price-hab text-black">{{ trans('precio') }}</p>
					<span></span>
					<p class="verdana yellow_bg precio_reservacion text-price-hab text-white">{{ app_rate_cambio(reserva.price,'smb') }}</p>
					<input class="buttom roman btn btn-default circle" type="submit" name="btn_continuar" value="{{ trans('continuar') }}">
					<input class="buttom roman btn btn-default circle" type="submit" name="btn_cancelar" value="{{ trans('cancelar') }}">
				</div>
			</div>

			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
	<script src="web/assets/jquery-ui/jquery.ui.datepicker-min.js"></script>
	<script src="web/assets/jquery-ui/jquery.ui.core-min.js"></script>
	<script src="web/assets/jquery-ui/i18n/jquery.ui.datepicker-{{ app.current_lang.codigo|lower }}.js"></script>

	<script language="javascript" type="application/javascript">
		var max_habitacion_reserva = {{ max_habitacion_reserva }};

		function nonWorkingDates(date){

			var day = date.getDay();

			for (i = 0; i < closedDates.length; i++) {
				var fechamin = new Date(closedDates[i][0]);
				var fechamax = new Date(closedDates[i][1]);

				if(compara_fecha_menor(fechamax,date)==true && compara_fecha_mayor(fechamin,date)==true)
					return [false,'paro_venta'];
			}
			return [true];
		}
		function compara_fecha_menor(datefecha,menor)
		{
			if(datefecha.toString()==menor.toString())
				return true;
			if(menor.getFullYear()<datefecha.getFullYear())
				return true;
			if(menor.getFullYear()>datefecha.getFullYear())
				return false;
			if(menor.getMonth()<datefecha.getMonth())
				return true;
			if(menor.getMonth()>datefecha.getMonth())
				return false;
			if(menor.getDate()<datefecha.getDate())
				return true;
			return false;
		}
		function compara_fecha_mayor(datefecha,mayor)
		{
			if(datefecha.toString()==mayor.toString())
				return true;
			if(mayor.getFullYear()>datefecha.getFullYear())
				return true;
			if(mayor.getFullYear()>datefecha.getFullYear())
				return false;
			if(mayor.getMonth()>datefecha.getMonth())
				return true;
			if(mayor.getMonth()<datefecha.getMonth())
				return false;
			if(mayor.getDate()>datefecha.getDate())
				return true;
			return false;
		}

		$('.plan').change(function(){
			var tipo_habitacion = $('#tipo_hab_principal').val();
			var fecha = $("#fecha_principal").val();

			var capa_form_parent = $(this).parent().parent().parent();
			var paxs = capa_form_parent.find('select.cantidad_paxs').val();
			var noches = capa_form_parent.find('select.noches').val();
			var plan = capa_form_parent.find('select.plan').val();
			var token = $("input[name='token']").val();

			$.ajax({
				'url':  'con_alojamiento/get_paxs',
				'data':{'tipo_habitacion' : tipo_habitacion, 'fecha' : fecha, 'plan': plan, 'paxs' : paxs, 'token': token},
				'dataType': 'json',
				'type': 'POST',
				'beforeSend': function(){
					//$('.loader_reserva').show();
					Nacional.startLoading(capa_form_parent);
				},
				'success': function(data) {
					if(data.ok == 't')
					{
						var obj = capa_form_parent.find('select:.cantidad_paxs');
						obj.empty();
						for (var t_i = 0; t_i < data.n_paxs.length; t_i++) {
							//var vopc = data.n_paxs[t_i]['opc'];
							obj.append('<option value="'+data.n_paxs[t_i]['val']+'">'+data.n_paxs[t_i]['opc']+'</option>');
						}
						obj.val(data.paxs);

						precio(capa_form_parent.find('select:.cantidad_paxs'));
					}

					Nacional.stopLoading(capa_form_parent);
				}
			});

		});

		$('#fecha_principal').change(function(){
			var tipo_habitacion = $('#tipo_hab_principal').val();
			var fecha = $("#fecha_principal").val();
			var cantidad_habitaciones = $('#cantidad_habitaciones').val();
			$(".selector_fecha").val(fecha);
			var token = $("input[name='token']").val();

			$.ajax({
				'url':  'con_alojamiento/get_dispo',
				'data':{'tipo_habitacion':tipo_habitacion, 'fecha':fecha, 'cant_habitaciones': cantidad_habitaciones, 'token': token},
				'dataType': 'json',
				'type': 'POST',
				'beforeSend': function(){
					Nacional.startLoading();
				},
				'success': function(data) {
					if(data.ok == 't')
					{
						var t_hab = $('#cantidad_habitaciones');
						var temp = t_hab.val();
						max_habitacion_reserva = data.habitaciones;

						if (temp > data.habitaciones) {
							t_hab.val(data.habitaciones);
							t_hab.keyup();
						} else {
							t_hab.val(temp);
						}

						var t_noches =  $('.noches');
						t_noches.each(function (i, e) {
							var temp = $(this).val();
							$(this).empty();
							for (var t_i = data.noches_min; t_i <= data.noches_max; t_i++) {
								$(this).append('<option value="'+t_i+'">'+t_i+'</option>');
							}
							if (temp > data.noches_max) {
								$(this).val(data.noches_max);
								$(this).change();
							} else {
								$(this).val(temp);
							}
						});

						if (data.info != null) {
							$('#dispo_info').attr('title', data.info);
							$('#dispo_info').removeClass('hidden');
						} else {
							$('#dispo_info').addClass('hidden');
						}

						total();

					} else if(data.ok == 'f') {
						alert(data.msg);
					}

					Nacional.stopLoading();
				}
			});
		});

		$(".selector_fecha").datepicker(
				{
					"dateFormat": "yy-mm-dd",
					minDate: '{{ hotel.fecha_minima }}',
					maxDate: '{{ hotel.fecha_maxima }}',
					beforeShowDay: nonWorkingDates,
					onChangeMonthYear: function (year, month, inst) {
						var fecha = year + '-' + month + '-01';
						update_datepicker("{{ trans('seleccione_dia') }}", fecha);
					}
				},
				$.datepicker.regional["{{ app.current_lang.codigo }}"]
		);

		function update_datepicker(msg, fecha) {
			var tipo_habitacion = $('#tipo_hab_principal').val();
			var token = $("input[name='token']").val();
			$.ajax({
				'url':  'con_alojamiento/get_paros',
				'data':{'tipo_habitacion':tipo_habitacion, 'fecha':fecha, 'token':token},
				'dataType': 'json',
				'type': 'POST',
				'beforeSend': function(){


				},
				'success': function(data) {

					if(data.ok == 't')
					{
						closedDates = data.paros;
						$("#fecha_principal").datepicker("refresh");
					}


				},
				'error' : function() {

				}
			});
		}

		$('.tipo_habitacion').change(function(){

			var capa_form_parent = $(this).parent().parent().parent();
			var cantidad_paxs = capa_form_parent.find('select.cantidad_paxs');
			var sel_cantidad_paxs = cantidad_paxs.val();
			var capa_ninno_adicional = capa_form_parent.find('div.capa_ninno_adicional');
			var ninno_adicional = capa_form_parent.find('input.ninno_adicional');
			ninno_adicional.removeAttr('checked');
			var tipo_habitacion = $(this).val();
			if(capacidades_maximas[tipo_habitacion].ninno_adicional == 't')
			{
				capa_ninno_adicional.css('visibility','visible');
			}
			else
				capa_ninno_adicional.css('visibility','hidden');

			cantidad_paxs.empty();
			var limites = capacidades_maximas[tipo_habitacion];
			for (var i = 1; i <= limites.max_pax; i++)
				cantidad_paxs.append('<option value="'+i+'">'+i+'</option>');
			cantidad_paxs.val(sel_cantidad_paxs);

		});
		$(".paquete_luna_miel").change(function(){
			var capa_exterior = $(this).parent();
			var img_detalle_luna_miel = capa_exterior.find('.detalle_pql');

			if($(this).val()>0)
			{
				img_detalle_luna_miel.css('display','');
			}
			else
				img_detalle_luna_miel.css('display','none');
		});
		$(".detalle_pql").click(function(){
			var capa_exterior = $(this).parent().parent();
			var paquete_luna_miel = capa_exterior.find('select.paquete_luna_miel');
			var id_paquete_luna_miel = paquete_luna_miel.val();
			var token = $("input[name='token']").val();
			if(id_paquete_luna_miel)
			{
				$.ajax({
					'url':  'con_alojamiento/paquete_luna_miel',
					'data':{'id_paquete':id_paquete_luna_miel, 'token': token},
					'dataType': 'json',
					'type': 'POST',
					'beforeSend': function(){
						Nacional.startLoading(capa_exterior);
					},
					'success': function(data) {
						if(data.ok == 't')
						{
							alert(data.nombre+'\n\n'+data.descripcion);
						}
						else if(data.ok == 'f')
						{

						}

						Nacional.stopLoading(capa_exterior);
					}
				});
			}
		});

		$(".input_cal").change(function() {
			prepare();
			precio($(this));
		});
		$(".cantidad_habitaciones").keyup(function() {

			if ($(this).val() > max_habitacion_reserva) {
				alert('{{ trans('al_error_cantidad_habitaciones') }}' + max_habitacion_reserva);
				$(this).val(max_habitacion_reserva);
			}

			var cant_selected = $(this).val();
			if ( cant_selected > 0 )
			{
				var cant_habitacion = $('.formulario_alojamiento').length;
				var cant_for = cant_selected - cant_habitacion;
				if ( cant_for > 0 )
				{
					var precio_habitacion_0=$('.formulario_alojamiento:eq(0) .precio_habitacion').val();
					var tipo_habitacion_0=$('#tipo_hab_principal').val();
					var selector_fecha_0=$('#fecha_principal').val();
					var hora_0=$('.formulario_alojamiento:eq(0) .hora').val();
					var noches_0=$('.formulario_alojamiento:eq(0) .noches').val();
					var plan_0=$('.formulario_alojamiento:eq(0) .plan').val();
					var cantidad_paxs_0=$('.formulario_alojamiento:eq(0) .cantidad_paxs').val();
					var ninno_adicional_0=$('.formulario_alojamiento:eq(0) .ninno_adicional').val();
					var paquete_luna_miel_0=$('.formulario_alojamiento:eq(0) .paquete_luna_miel').val();

					for (var i = 0; i < cant_for; i++)
					{
						$('.formulario_alojamiento:eq(0)').clone(true).insertAfter(".formulario_alojamiento:last");
						$('.formulario_alojamiento:last .numero_habitacion').html('<font>{{ trans('al_habitacion') }} #' + (i + cant_habitacion + 1)  + '</font>');
						$('.formulario_alojamiento:last .precio_habitacion').val(precio_habitacion_0);
						$('.formulario_alojamiento:last .tipo_habitacion').val(tipo_habitacion_0);
						$('.formulario_alojamiento:last .hora').val(hora_0);
						$('.formulario_alojamiento:last .noches').val(noches_0);
						$('.formulario_alojamiento:last .plan').val(plan_0);
						$('.formulario_alojamiento:last .cantidad_paxs').val(cantidad_paxs_0);
						$('.formulario_alojamiento:last .ninno_adicional').attr('name','ninno_adicional_'+(i+1));
						$('.formulario_alojamiento:last .ninno_adicional').val(ninno_adicional_0);
						$('.formulario_alojamiento:last .paquete_luna_miel').val(paquete_luna_miel_0);

					}
				}
				else
				{
					for (var i = 0; i > cant_for; i--) {
						$('.formulario_alojamiento:last').remove();
					}
				}
			}

			prepare();

			total();
		});
		function prepare()
		{
			$('._tipo_hab').each(function (i, e) {
				$(e).val($('#tipo_hab_principal').val());
			});
			$('._fecha_hab').each(function (i, e) {
				$(e).val($('#fecha_principal').val());
			});
		}
		function precio(elemento)
		{
			var capa_form_parent = elemento.parent().parent().parent();

			var fecha = $('#fecha_principal').val();

			var paxs = capa_form_parent.find('select.cantidad_paxs').val();
			if(paxs !='' && fecha !=='')
			{
				var tipo_habitacion = $('#tipo_hab_principal').val();
				var noches = capa_form_parent.find('select.noches').val();
				var plan = capa_form_parent.find('select.plan').val();
				var ninno_adicional = capa_form_parent.find('input.ninno_adicional').attr("checked")?true:'';
				var paquete_luna_miel = capa_form_parent.find('select.paquete_luna_miel').val();
				var fondo = $('<div class="box-modal-bg"/>');
				var token = $("input[name='token']").val();
				$.ajax({
					'url':  'con_alojamiento/calcular',
					'data':{'tipo_habitacion':tipo_habitacion,
						'fecha':fecha,
						'noches':noches,
						'plan':plan,
						'paxs':paxs,
						'ninno_adicional':ninno_adicional,
						'paquete_luna_miel':paquete_luna_miel,
						'token': token
					},
					'dataType': 'json',
					'type': 'POST',
					'beforeSend': function(){
						Nacional.startLoading(capa_form_parent);
					},
					'success': function(data) {
						if(data.ok == 't')
						{
							capa_form_parent.find('span.precio_habitacion_text').html(data.precio_convertido+' '+data.smb_moneda);
							capa_form_parent.find('input.precio_habitacion').val(data.precio_convertido);

							$('.precio_reservacion').html(data.precio);
                            if (data.precio != data.precio_original) {
                                capa_form_parent.find('.precio_original').html(data.precio_original);
                            } else {
                                capa_form_parent.find('.precio_original').html('');
                            }
						}
						else if(data.ok == 'f')
						{
							capa_form_parent.find('input.precio_habitacion').val(0);
							capa_form_parent.find('span.precio_habitacion_text').html('');
							//alert(data.msg);
						}
						total();
						Nacional.stopLoading(capa_form_parent);
					}
				});
			}
		}
		function total()
		{
			new_price = 0;
			$('.precio_reservacion').html('');
			var simb='';
			$('.precio_habitacion').each(function(index, term) {
				new_price += parseFloat($(this).val());
			});
			if(new_price > 0)
				$('.precio_reservacion').html(new_price+' '+'{{ SIMBOLO_MONEDA }}');
		}
		function validar()
		{
			if($('.precio_reservacion').html()!=='')
				return true;
			alert('{{ trans('al_error_reserva_incorrecta') }}');
			return false;
		}
		function hab_capacidad(id,max_pax,ninno_adicional)
		{
			this.id=id;
			this.max_pax=max_pax;
			this.ninno_adicional=ninno_adicional;
		}
		var capacidades_maximas = new Array();
		{{ js|raw }}

		{{ closedDates|raw }}

		prepare();

		$('._tipo_hab').each(function (i, e) {
			precio($(this));
		});
	</script>
{% endblock %}