{% set datos_adicionales = producto.options %}

{% set oferta_traducido = app_get_oferta(datos_adicionales.id_oferta) %}
{% set oferta_tipo_traducido = app_traduccion('oferta','oferta_tipo_idioma',NULL,'tipo_fk',oferta.tipo_fk,oferta.tipo) %}

<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">{{ trans('serivicio_nombre',{'nombre':trans('oferta')}) }}</div>
                <div class="col-sm-4">{{ trans('fecha_solicitud') }}:<br/>{{  app_str_date(app_now()) }}</div>
                <div class="col-sm-4">
                    {{ trans('carro_estado_reserva') }}:<br/>
                    {% if datos_adicionales.aconfirmar==1 %}
                        {{ trans("reserva_a_confirmar") }}
                    {% else %}
                        {{ trans('reserva_estado_confirmada') }}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p class="verdana text-price-box">{{ trans('precio') }}</p>
                    <span></span>
                    <p class="verdana yellow_lite text-price-box text-white">{{ app_rate_cambio(producto.price,'smb') }}</p>
                </div>
            </div>
        </div>

{#        {{ dump(producto) }}#}

        <div class="col-sm-12" id="hidden-{{ producto.id }}" style="display: none">
            <div class="left">
                <p class="verdana"><b>{{ oferta_tipo_traducido.nombre }}</b></p>
                <p class="verdana">{{ trans('of_oferta') }}: <b>{{ oferta_traducido.nombre }}</b></p>
                <p class="verdana">{{ trans('of_fecha') }}: <b>{{ app_str_date(datos_adicionales.fecha) }}</b></p>

                {% if producto.options.is_boda|default(false) == false %}
                    <p class="verdana">{{ trans('of_cantidad') }}: <b>{{ datos_adicionales.cantidad }}</b></p>
                    <p class="verdana">{{ trans('of_cantidad_dias') }}: <b>{{ datos_adicionales.cantidad_dias }}</b></p>
                {% endif %}

            </div>

            <div class="verdana">
                {% if datos_adicionales.detalles %}
                    {{ trans('of_solicitud_adicional') }}<br/>
                    {{ datos_adicionales.detalles }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a id="tog-{{  producto.id }}" class="toggle btn btn-default circle" data-pick="{{ trans('recoger') }}" title="{{ trans('otros_detalles') }}">{{ trans('otros_detalles') }}</a>

            {% if datos_adicionales.aconfirmar==2 %}
                <a href="{{ base_url('con_reservacion/cancelar_producto_confirmado_car/' ~ producto.rowid) }}" class="btn btn-danger">{{ trans('cancelar') }}</a>
            {% else %}
                <a class="btn btn-default circle" href="{{ trans('ruta_carro_compra_cancelar',{'rowid':producto.rowid}) }}">{{ trans('cancelar') }}</a>
                <a class="btn btn-default circle" href="{{ trans('ruta_carro_compra_editar',{'rowid':producto.rowid}) }}" >{{ trans('editar') }}</a>
            {% endif %}
        </div>
    </div>
    <hr/>
</div>