{% set oferta_traducido = app_get_oferta(datos_adicionales.id_oferta) %}

<div class="row">
	<div class="col-sm-4">
		{{ trans('serivicio_nombre', {'nombre': trans('oferta')}) }}
	</div>
	<div class="col-sm-4">
		{{ trans('of_oferta') }}: {{ oferta_traducido.nombre }}
	</div>
	<div class="col-sm-4">
		{{ trans('of_fecha') }}: {{ app_str_date(datos_adicionales.fecha) }}
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		{{ datos_adicionales.no_reserva }}
	</div>

	<div class="col-sm-4">
		{% if datos_adicionales.estado == 4 %}
			<a class="btn btn-default" href="{{ trans('ruta_voucher_producto', {'producto':datos_adicionales.tipo,'id':datos_adicionales.id_reserva}) }}" >
				<i class="fa fa-file-pdf-o"></i> {{ trans('voucher') }}
			</a>
			{% if datos_adicionales.fecha > app_now() %}
				<a class="btn btn-danger" href="{{ trans('ruta_cancelar_producto_pagado',{'producto':datos_adicionales.tipo,'id':datos_adicionales.id_reserva}) }}" >
					<i class="fa fa-trash"></i>  {{ trans('cancelar') }}
				</a>
			{% endif %}
		{% endif %}
	</div>
	<div class="col-sm-4">
		{{ trans('precio') }}: {{ app_rate_cambio(producto.price,'smb') }}
	</div>
</div>

<hr/>